* {
    margin 0;
    padding 0;
}

.head {
    display: flex;
    color: #603232;
}

.head div {
    flex-grow: 1;
}

.head div:nth-child(2) {
    text-align: right;
}

.head div:nth-child(3) {
    text-align: right;
}

.head div:nth-child(1):hover {
    font-weight: bold;
}

.section {

}

#coding-quiz-challenge {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#coding-quiz-challenge h1 {
    font-weight: bolder;
    margin-top: 100px;
}

#coding-quiz-challenge h2 {
    margin-left: 35%;
    margin-right: 35%;
    font-size: 15px;
}

#coding-quiz-challenge button {
    background-color: blanchedalmond;
}

#coding-quiz-challenge button:hover {
    font-weight: bold;
}

#q1 {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#q1 h1 {
    margin-top: 40px;
    margin-right: 40%;
    margin-left: 30%;
}

#q1 button{
    background-color: blanchedalmond;
    display: block;
    margin-left: 31%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#q1 button:hover {
    font-weight: bold;
}

#q2 {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#q2 h1 {
    margin-top: 40px;
    margin-right: 37%;
    margin-left: 30%;
}

#q2 button{
    background-color: blanchedalmond;
    display: block;
    margin-left: 31%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#q2 button:hover {
    font-weight: bold;
}

#q3 {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#q3 h1 {
    margin-top: 40px;
    margin-right: 33%;
    margin-left: 30%;
}

#q3 button{
    background-color: blanchedalmond;
    display: block;
    margin-left: 31%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#q3 button:hover {
    font-weight: bold;
}

#q4 {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#q4 h1 {
    margin-top: 40px;
    margin-right: 33%;
    margin-left: 30%;
}

#q4 button{
    background-color: blanchedalmond;
    display: block;
    margin-left: 31%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#q4 button:hover {
    font-weight: bold;
}

#q5 {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#q5 h1 {
    margin-top: 40px;
    margin-right: 33%;
    margin-left: 30%;
}

#q5 button{
    background-color: blanchedalmond;
    display: block;
    margin-left: 31%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#q5 button:hover {
    font-weight: bold;
}

#end {
    font-family: Arial, Helvetica, sans-serif;
}

#end h1 {
    margin-top: 40px;
    margin-right: 33%;
    margin-left: 30%;
}

#end div {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 33%;
    margin-left: 30%;
    margin-bottom: 20px;
}

#end div button {
    background-color: blanchedalmond;
    border-radius: 5px;
}

#end div button:hover {
    font-weight: bold;
}
#result1 {
    margin-left: 30%;
    margin-right: 33%;
    margin-top: 10px;
    border-top: 2px solid gray;
}

#result2 {
    margin-left: 30%;
    margin-right: 33%;
    margin-top: 10px;
    border-top: 2px solid gray;
}

#result3 {
    margin-left: 30%;
    margin-right: 33%;
    margin-top: 10px;
    border-top: 2px solid gray;
}

#result4 {
    margin-left: 30%;
    margin-right: 33%;
    margin-top: 10px;
    border-top: 2px solid gray;
}



