.head {
    display: flex;
    color: #603232;
}

#section {
    font-family: Arial, Helvetica, sans-serif;
}

.head div {
    flex-grow: 1;
}

.head div:nth-child(2) {
    text-align: right;
}

.head div:nth-child(3) {
    text-align: right;
}

.head div:nth-child(1):hover {
    font-weight: bold;
}

#startScreen {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#startScreen h1 {
    font-weight: bolder;
    margin-top: 100px;
}

#startScreen h2 {
    margin-left: 35%;
    margin-right: 35%;
    font-size: 15px;
}

#startScreen button {
    background-color: blanchedalmond;
}

#startScreen button:hover {
    font-weight: bold;
}

#q1 {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#q1 h1 {
    margin-top: 40px;
    margin-right: 40%;
    margin-left: 30%;
}

#q1 button{
    background-color: blanchedalmond;
    display: block;
    margin-left: 31%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#q1 button:hover {
    font-weight: bold;
}

#q2 {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#q2 h1 {
    margin-top: 40px;
    margin-right: 37%;
    margin-left: 30%;
}

#q2 button{
    background-color: blanchedalmond;
    display: block;
    margin-left: 31%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#q2 button:hover {
    font-weight: bold;
}

#q3 {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#q3 h1 {
    margin-top: 40px;
    margin-right: 33%;
    margin-left: 30%;
}

#q3 button{
    background-color: blanchedalmond;
    display: block;
    margin-left: 31%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#q3 button:hover {
    font-weight: bold;
}

#q4 {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#q4 h1 {
    margin-top: 40px;
    margin-right: 33%;
    margin-left: 30%;
}

#q4 button{
    background-color: blanchedalmond;
    display: block;
    margin-left: 31%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#q4 button:hover {
    font-weight: bold;
}

#q5 {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#q5 h1 {
    margin-top: 40px;
    margin-right: 33%;
    margin-left: 30%;
}

#q5 button{
    background-color: blanchedalmond;
    display: block;
    margin-left: 31%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#q5 button:hover {
    font-weight: bold;
}

#endScreen {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#endScreen h1 {
    margin-top: 40px;
    margin-right: 33%;
    margin-left: 30%;
}

#endScreen div {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 33%;
    margin-left: 30%;
    margin-bottom: 20px;
}

#endScreen div button {
    background-color: blanchedalmond;
    border-radius: 5px;
}

#endScreen div button:hover {
    font-weight: bold;
}
#result1 {
    margin-left: 30%;
    margin-right: 33%;
    margin-top: 20px;
    border-top: 2px solid gray;
    opacity: 50%;
    color: gray;
    padding-top: 10px;
    font-size: 20px;
}

#result2 {
    margin-left: 30%;
    margin-right: 33%;
    margin-top: 20px;
    border-top: 2px solid gray;
    opacity: 50%;
    color: gray;
    padding-top: 10px;
    font-size: 20px;
}

#result3 {
    margin-left: 30%;
    margin-right: 33%;
    margin-top: 20px;
    border-top: 2px solid gray;
    opacity: 50%;
    color: gray;
    padding-top: 10px;
    font-size: 20px;
}

#result4 {
    margin-left: 30%;
    margin-right: 33%;
    margin-top: 20px;
    border-top: 2px solid gray;
    opacity: 50%;
    color: gray;
    padding-top: 10px;
    font-size: 20px;
}
#result5 {
    margin-left: 30%;
    margin-right: 33%;
    margin-top: 20px;
    border-top: 2px solid gray;
    opacity: 50%;
    color: gray;
    padding-top: 10px;
    font-size: 20px;
}

#outOfTime {
    text-align: center;
    font-size: 200px;
    color: #603232;
    display: none;
    padding-top: 10px;
    font-size: 20px;
}

#highscores {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

#highscores h1 {
    margin-top: 40px;
    margin-left: 30%;
}
#endingButtons {
    display: inline-block;
    margin-left: 30%;
}

#initials {
    margin-left: 30%;
    background-color: blanchedalmond;
}

#endingButtons button {
    background-color: blanchedalmond;
    border-radius: 5px;
}




